<form>
  <div class="row">
  <div class="form-group col-md-6">
    <label>Keys</label>
    <select class="form-control " #box (click)="update1(box.value)">
      <option value="">Select key..</option>
      <option *ngFor="let x of this.keys">{{x}}</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label>Value</label>
    <input type="text" class="form-control" #box2 id="val2" (input)="update2(box2.value)" (blur)="update2(box2.value)" >
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-block" (click)="addDta()">Update Org hierarchy</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</form>
<br>
<div class="row" style="background-color: whitesmoke" *ngIf="this.needyDta.length !== 0">
  <br>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form>
      <div *ngFor="let x of this.needyDta; index as i;">
        <div class="form-group">
          <label>{{x}}</label>
          <input type="text" #box3 class="form-control" (input)="update3(x, box3.value)" (blur)="update3(x, box3.value)">
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"><button class="btn btn-primary btn-block" type="button" (click)="updateIt()"> Add data </button></div>
      <div class="col-md-4"></div>
    </form>
  </div>
  <div class="col-md-3"></div>
  <br>
</div>


<!--<ngx-smart-modal class="modal-lg" identifier="myModal" style="background-color: gray; color: red">-->
  <!--<h1>Title</h1>-->
  <!--<p>Some stuff...</p>-->

  <!--<button (click)="myModal.close()">Close</button>-->
<!--</ngx-smart-modal>-->
<hr>

<div *ngFor="let itm of this.data">
  <ul>
    <li>{{itm.key}} - {{itm.value}}</li>
    <div *ngIf="itm.child">
      <div *ngFor="let a of itm.child">
        <ul>
          <li>{{a.key}} - {{a.value}}</li>
          <div *ngIf="a.child">
            <div *ngFor="let b of a.child">
              <ul>
                <li>{{b.key}} - {{b.value}}</li>
                <div *ngIf="b.child">
                  <div *ngFor="let c of b.child">
                    <ul>
                      <li>{{c.key}} - {{c.value}}</li>
                      <div *ngIf="c.child">
                        <div *ngFor="let d of c.child">
                          <ul>
                            <li>{{d.key}} - {{d.value}}</li>
                            <div *ngIf="d.child">
                              <div *ngFor="let e of d.child">
                                <ul>
                                  <li>{{e.key}} - {{e.value}}</li>
                                  <div *ngIf="e.child">
                                    <div *ngFor="let f of e.child">
                                      <ul>
                                        <li>{{f.key}} - {{f.value}}</li>
                                        <div *ngIf="f.child">
                                          <div *ngFor="let g of f.child">
                                            <ul>
                                              <li>{{g.key}} - {{g.value}}</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </ul>
                                    </div>
                                  </div>
                                </ul>
                              </div>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </ul>
</div>

<hr>

<div class="container">
  <h2>Path of items</h2>
  <br>
  <div class="route" *ngFor="let itm of this.data">
    <!--{{getRoute(itm)}}-->
    Values are : {{getValues(itm)}}
  </div>
</div>

<hr>

<!--<p>-->
  <!--{{this.data[0] || json }}-->
<!--</p>-->


